
<div class="ps-breadcrumb">

    <div class="container">

        <ul class="breadcrumb">

            <li><a href="/">Home</a></li>

            <li class="page">About Us</li>

        </ul>

    </div>

</div>

<div class="about">

    <div class="container about">

        <div class="row">
            <div class="col-img-about col-md-6 col-sm-12">
                <img class="img-about" src="assets/img/team.jpg" alt="podcast">
            </div>
            <div class="col-md-6 col-sm-12">
                <h2 class="ns-title-a1 font-main">About our </h2>
                <h1 class="ns-title-a2 font-main">CULTURE</h1>
                <p class="about-content">NicaSource is a specialized staffing firm within the software and engineering industry. We started operations in Managua, Nicaragua on 2013.</p>
                <p class="about-content">In 2020, we embraced a remote culture, and now we have teams all over LATAM – with main units located in pMexico, Nicaragua, and Argentina.</p>
                <p class="about-content">Our main staffing profiles are Software Developers, Agile Project Managers, QA Testers, UI/UX Designers, and Salesforce Admins.</p>

            </div>
        </div>
    </div>
</div>