.ps-breadcrumb {
    padding: 20px 0;
    background-color: #f1f1f1;
}

.ps-breadcrumb .breadcrumb {
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.ps-breadcrumb .breadcrumb li:first-child {
    padding-left: 0;
}

.ps-breadcrumb .breadcrumb a {
    line-height: 20px;
    color: #09c;
}



.ps-breadcrumb .breadcrumb li {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    color: #000;
}

.page:before {
    content: "/";
    margin: 0 5px;
}


.ps-contact-form {
    padding: 100px 0;
    background-color: #f6f6f6;
}

.ps-contact-form h3 {
    margin-bottom: 90px;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: #000;
    line-height: 1em;
}

.form-group {
    margin-bottom: 2.0rem;
}

.ps-form--contact-us .form-control {
    background-color: #ffffff;
    font-size: 14px;
    padding: 0 20px;
    height: 50px;
    border-radius: 0;
    transition: all .4s ease;
    box-shadow: 0 0 0 #000;
}

textarea {
    height: 100px !important;
    padding: 20px !important;
    resize: none;
}

.ps-btn--fullwidth, button.ps-btn--fullwidth {
    width: 100%;
    text-align: center;
}

.ps-btn, button.ps-btn {
    display: inline-block;
    padding: 15px 45px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #fff;
    border: none;
    font-weight: 600;
    border-radius: 4px;
    background-color: #0B2342;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
}

.ps-btn:hover, .ps-btn:active, button.ps-btn:hover, button.ps-btn:active {
    background-color: #F13C45;
    color: #fff;
}

@media screen and (max-width: 1200px) {


}

@media screen and (max-width: 900px) {}

@media screen and (max-width: 780px) {}

@media screen and (max-width: 600px) {}