<div class="ns-subscribe font-main">

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2  col-sm-1"></div>
            <div class="col-lg-6 col-md-8 col-sm-10">
                <div class="subscribe-title text-center">
                    <h1>ERROR 404 PAGE NOT FOUND!</h1>
                    <p>Plase subscribe to be inform about the new podcast or contact us</p>
                </div>
                <div class="subscribe-form">

                    <aside class="widget widget_newletters widget_footer">

                        <form class="ps-form--newletter" action="#" method="get">
                            <div class="form-group--nest">
                                <input class="form-control" type="text" placeholder="Type your Email">
                                <button class="btn-subscribe btn btn-danger mr-5">Subscribe <i class="fa fa-arrow-right"></i></button>
                            </div>
        
                        </form>
                    </aside>
                </div>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-1"></div>
        </div>
        
    </div>

</div>