<div class="ns-blog font-main mb-20">

    <div class="container blog-container ">

        <div class="blog-main-title text-center">
            <h1>Blog Posts</h1>
        </div>
        <div class="blog-content font-main">

            <div class="row">
                <div class="col-sm-4">
                  <div class="card">
           
                    <div class="card-body">
                        <div class="card-blog-header">
                            <span class="blog-author">By Mahedi Hasan</span>  <span class="card-text">Sep 11, 2020</span>
                            <p class="card-text">NicaSource Radio</p>
                        </div>
                      <h2 class="card-title">Global News Podcast Thai soldier kills many</h2>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <button type="button" class="btn btn-outline-danger mr-5">Read More</button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
           
                        <div class="card-body">
                            <div class="card-blog-header">
                                <span class="blog-author">By Mahedi Hasan</span>  <span class="card-text">Sep 11, 2020</span>
                                <p class="card-text">NicaSource Radio</p>
                            </div>
                          <h2 class="card-title">Global News Podcast Thai soldier kills many</h2>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <button type="button" class="btn btn-outline-danger mr-5">Read More</button>
                        </div>
                      </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
           
                        <div class="card-body">
                            <div class="card-blog-header">
                                <span class="blog-author">By Mahedi Hasan</span>  <span class="card-text">Sep 11, 2020</span>
                                <p class="card-text">NicaSource Radio</p>
                            </div>
                          <h2 class="card-title">Global News Podcast Thai soldier kills many</h2>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <button type="button" class="btn btn-outline-danger mr-5">Read More</button>
                        </div>
                      </div>
                  </div>
              </div>

        </div>
    </div>
</div>
