<div class="ns-blog font-main mb-20">

    <div class="container blog-container ">

        <div class="blog-main-title text-center">
            <h1>Blog Posts</h1>
        </div>
        <div class="blog-content font-main">

            <div class="row">
                <div 
                *ngFor="let blog of blogs"
                class="col-sm-4">
                  <div class="card">
           
                    <div class="card-body">
                        <div class="card-blog-header">
                            <span class="blog-author">{{blog.acf.blog.autor}}</span>  <span class="card-text">{{blog.acf.blog.date}}</span>
                            <p class="card-text">{{blog.acf.blog.enterprise}}</p>
                        </div>
                      <h2 class="card-title">{{blog.acf.blog.title}}</h2>
                      <p class="card-text">{{blog.acf.blog.content}}</p>
                      <button type="button" class="btn btn-outline-danger mr-5">{{blog.acf.blog.button}}</button>
                    </div>
                  </div>
                </div>
              
              </div>

        </div>
    </div>
</div>
