.blog-container{

    padding: 0 !important;
    padding-bottom: 100px !important;
}
.card-body{
    padding: 30px !important;
}
.card-title{
    line-height: normal;
    font-size: larger;
    margin-bottom: 30px;
}

.card-text{
    color: gray ;
    margin-top: 10px;
    margin-bottom: 20px;
}

.blog-author{

    font-size: large;
    color: #F13C45 ;
    margin-right: 10px;
    margin-bottom: 20px;
}

.card::after{

    content: '';
    position: absolute;
    top: 20%;
    transform: translateY(-70%);
    right: -10;
    height: 50px;
    width: 0;
    border-left: 3px solid #F13C45;
    
    }

@media screen and (max-width: 900px) {
    .card-body{
      padding: 15px !important;
    }
    .blog-author{

        font-size: small;
        color: #F13C45 ;
        margin-right: 5px;
        margin-bottom: 10px;
    }

    .card-text{
        font-size: smaller;
        margin-top: 5px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 780px) {

 .btn-outline-danger{
      margin-right: 20px !important;
      font-size: 12px;
    }
}

@media screen and (max-width: 600px) {

    .card{
        margin-bottom: 20px !important;
    }
    .blog-container{

        padding-bottom: 50px !important;
    }
}