<div class="ns-episodes font-main">
    <div class="container container-episodes">
        <div class="row mb-5">
            <div class="title-last col-md-7 col-xm-8 fadeInLeft">
                <h2>Lastest Podcast Episodes</h2>
            </div>
            <div class="btn-view-all col-md-5 col-xm-4 text-right">
                <button type="button" class="btn btn-danger mr-5">View All</button>
            </div>
        </div>

        <div *ngIf="!loading" class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        <div *ngIf="loading" class="espisodes-content">
            <div *ngFor="let podcast of podcasts; let i = index;"            
            class="row espisodes-list">
                <div class="img-episodes col-md-3 col-sm-4 col-xm-12">
                    <img src="{{podcast.acf.episode.picture.sizes.medium}}" alt="{{podcast.acf.episode.picture.filename}}">
                </div>
                <div class="episode-detail col-md-6 col-sm-8 col-xm-12">
                    <h3 class="episode-title"><strong>{{podcast.acf.episode.title}}</strong>
                        
                    </h3>

                    <div [innerHTML]="podcast.acf.episode.content  | substr"></div>
                    <button type="button" class="btn btn-outline-danger mr-5">{{podcast.acf.episode.button}}</button>
                </div>
                <div class="col-md-3 ">
                    <aside class="widget-episode">
                        <ul class="list--link">
                            <li># Season {{podcast.acf.episode.season}}</li>
                            <li># Posted on {{podcast.acf.episode.date}}</li>
                            <li># <span *ngFor="let type of types[i]">/ {{type}} </span>

                           </li>
                        </ul>
                    </aside>
                </div>
            </div>         
        </div>

        <div class="text-center mt-10">
                <button type="button" class="btn btn-outline-danger mr-5">Show More Episodes</button>
        </div>
      

    </div>

</div>
