.header--mobile{
    background-color:lightgray ;
  
}
.navigation--mobile, .menu--mobile {
 
    display: flex;
    align-items: center;
}

.btn-menu--mobile{

    font-size: 34px !important;
}

.header--mobile .navigation--mobile {
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px 30px;
    border-bottom: none;
}
.header--mobile > * {
    flex-basis: 100%;
}

.logo-movil{
  
    max-width: 50% !important;
    align-items: center;

} 

.logo-mobil{

    align-items:center ;
}

.navigation--mobile, .menu--mobile{

    display: flex;
    align-items: center;

}

.ps-shop__filter-mb{
    margin-top: 0% !important;
}

*, :after, :before {
    box-sizing: border-box;
}


.header .header__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header .header__actions > * {
    margin: 0 20px;
}
.user-link {
    
    display: flex;
    flex-flow: row nowrap;
    text-align: left;

}

.user-link .ps-block__left {
    font-size: large !important;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

}

.user-link .ps-block__right {
    font-size: small;
    padding-left: 10px;

}

.user-link .ps-block__right a {
    display: block;
    font-weight: 700;
    line-height: 18px;
}


@media screen and (max-width: 900px) {

    .logo-movil{
  
        max-width: 50% !important;
    
    } 
}

@media screen and (max-width: 780px) {}

@media screen and (max-width: 600px) {}