<header class="header header--mobile font-main" data-sticky="true">

    <div class="navigation--mobile">

        <div class="menu--mobile">

            <button  mat-icon-button [matMenuTriggerFor]="menu" aria-label="Main Meni">
                <mat-icon class="btn-menu--mobile">menu</mat-icon>
              </button>
            <mat-menu #menu="matMenu">
                <button class="font-main" *ngFor="let page of pages;" mat-menu-item >                    
                   <a href="{{page.slug}}"><span>{{page.title.rendered}}</span></a> 
                </button>
              
            </mat-menu>
            
        </div>
        <div class="logo-mobil text-center">
            <a class="ns-logo" href="index.html">
                <img class="logo-movil" src="assets/img/ns-logo-b.png" alt="Evntos">
            </a>
        </div>
            <div class="header__actions">
                <div class="user-link">
                    <div class="ps-block__left"><a href="#"><mat-icon>person</mat-icon></a></div>
                    <div class="ps-block__right">
                        <a data-toggle="modal" data-target="#subscriptionModal"  >Subscribe</a>
                        <a data-toggle="modal" data-target="#signinModal"  >Sing-in</a>
                    </div>
                </div>
            </div>   
    </div>
</header>

  <!-- Modal -->
  <div class="modal fade" id="subscriptionModal" tabindex="-1" aria-labelledby="subscriptionModal" aria-hidden="true">
    <div class="modal-dialog">

      <div class="modal-content">

        <div class="modal-header">
            <h3 class="modal-title">Write your email to subscribe</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    
          <div class="modal-body">

            <div class="subscribe-form">

            <aside class="widget widget_newletters widget_footer">

                <form 
                class="ps-form--newletter needs-validation" 
                             
                 (ngSubmit)="Submit()"
                 >
                    <div class="form-group form-group--nest">
                        <input 
                        class="form-control" 
                        type="email" 
                        placeholder="Tyep your email"
                        formControlName="email"
                        [ngClass]="{'is-invalid': invalidField('email')}"
                        required>
                        <button class="btn-subscribe btn btn-danger mr-5">Subscribe </button>
                       
                    </div>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">This field is required.</div>
                        

                </form>
            </aside>
        </div>
          </div>
        
  
      </div>
    </div>
  </div>

<div class="modal fade" id="signinModal" tabindex="-1" aria-labelledby="signinModal" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title">Sign in</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="subscribe-form">

                    <aside class="widget widget_newletters widget_footer">

                        <form class="ps-form--newletter needs-validation" 
                        (ngSubmit)="SubmitIn()"
                         autocomplete="off">
                            <div class="form-group">
                                <select class="form-control form-login-ybe" formControlName="theCountry"
                                    [ngClass]="{'is-invalid': invalidField('thecounty')}">
                                    <option value="">Selecct a country</option>
                                    <option value="NI">Nicaragua</option>
                                    <option value="US">United States</option>


                                </select>
                                <span class="invalid-feedback">Selecct a country</span>
                            </div>
                            <div class="input-group mb-3">
                                <input type="email" class="form-control form-login-ybe" placeholder="email"
                                    formControlName="email" [ngClass]="{'is-invalid': invalidField('email')}" required>

                                <!-- Mensaje de Validación -->
                                <div class="invalid-feedback">This field is required</div>

                            </div>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control form-login-ybe" placeholder="password"
                                    formControlName="password" [ngClass]="{'is-invalid': invalidField('password')}"
                                    requierd>

                                <!-- Mensaje de Validación -->
                                <div class="invalid-feedback">This field is required</div>

                            </div>
                            <div class="row">

                                <!-- /.col -->
                                <div class="col-12">
                                    <button onclick="SubmitIn()" type="button" class="btn btn-danger btn-block">Sign-in</button>
                                </div>
                                <!-- /.col -->
                            </div>
                        </form>
                    </aside>
                </div>
            </div>


        </div>
    </div>
</div>