<div class="ns-subscribe font-main">

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2  col-sm-1"></div>
            <div class="col-lg-6 col-md-8 col-sm-10">
                <div class="subscribe-title text-center">
                    <h1>{{title}}</h1>

                    <div [innerHTML]="content"></div>
                </div>
                <div class="subscribe-form">

                    <aside class="widget widget_newletters widget_footer">

                        <form 
                        class="ps-form--newletter needs-validation" 
                        autocomplete="off"
                        [formGroup]="f"
                         (ngSubmit)="Submit()"
                         >
                            <div class="form-group form-group--nest">
                                <input 
                                class="form-control" 
                                type="email" 
                                placeholder="{{email}}"
                                formControlName="email"
                                [ngClass]="{'is-invalid': invalidField('email')}"
                                required>
                                <button class="btn-subscribe btn btn-danger mr-5">{{button}} <i class="fa fa-arrow-right"></i></button>
                               
                            </div>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">This field is required.</div>
                                
        
                        </form>
                    </aside>
                </div>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-1"></div>
        </div>
        
    </div>

</div>
