.footer__content-left{
    max-width: 170px;
    padding-right: 30px;
    display: flex;
    align-items: center;
}

.ns-footer {
    padding-top: 70px;
}
.ns-logo{
    margin-right: 10px;
}
img{
    max-width: 130%;
}

.widget:last-child {
    border-bottom: none;
}
.widget {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.widget-title{
    font-size: large;
}

.footer-text{
    color: gray;
}

.social{
   color: #0B2342;
   font-size: 24px; 
}

.list--social{
    margin: 0;
    padding: 0;
    list-style: none;
}

.list--social li {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}

.list--social li a{

    color: #0B2342 !important;
}

.widget_footer .widget-title {
 
    margin-bottom: 30px;
    color: #000;
    font-weight: 600;
}

.list--link{
  
    margin: 0;
    padding: 5px;
    list-style: none;
}

.list--link li {
    display: block;
    padding: 10px 0;
   
    
}

a {
    color: gray ;
    font-weight: 400;
    text-decoration: none;
    background-color: transparent;
}

.list--link li a img{
    max-width: 70%;
}

.footer__copyright {
    color: gray !important;
    padding: 10px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border-top: 1px solid #e1e1e1;
}

@media screen and (max-width: 1200px) {
    .widget-title{
        font-size: smaller;
    }
}

@media screen and (max-width: 900px) {

    .widget-title{
        font-size: smaller;
    }

    img{
        max-width: 100%;
    }

    
   .footer-text, .list--link li{
       font-size: 12px !important;
       padding: 5px 0;
       text-align: justify;
    }

    
    .list--social li {
  
      margin-right: 10px;
    }
}

@media screen and (max-width: 780px) {}

@media screen and (max-width: 600px) {}