/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: rgb(233, 227, 227);}

.font-main{
    font-family: 'Poppins', sans-serif !important;
}

@media (min-width: 1200px){
    .container {
        min-width: 1200px;
    }

    .header--standard{
        display: block;
    }
    

    .header--mobile {
        display: none;
    }
}

@media (min-width: 992px){
    .container {
        min-width: 960px;
    }
    .header--mobile {
        display: none;
    }
}

@media (max-width: 992px){
  
     .header--standard{
        display: none;
    }

    .header {
        display: none;
    }
  
    .header--mobile {
        display: block;
    }

 
}

