<div class="ns-hero font-main">

    <div class="container font-main">

        <div class="row">

            <div class="col-lg-7 col-md-6 ol-sm-12">
                <p class="ns-small-text"><span class="ns-dash">-</span>Tanding Episode</p>
                <h1 class="ns-title font-main">Lorem Ipsum is simply dummy text of the printing</h1>
                <p class="ns-small-text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                <p class="ns-small-text">listen on also <span class="ns-dash">-</span></p>
                <div class="widget">
                    <ul class="list--media list-group list-group-horizontal">
    
                        <li class="list-group-item"><a href="#"><img src="assets/img/ns-google-podcast.PNG" alt="google-podcast"></a></li>
                        <li class="list-group-item"><a href="#"><img src="assets/img/ns-apple-podcast.PNG" alt="apple-podcast"></a></li>
                        <li class="list-group-item"><a href="#"><img class="spotify" src="assets/img/ns-spotify.PNG" alt="spotify"></a></li>

                    </ul>
                </div>
            </div>
            <div class="hero-media col-lg-5 col-md-6 col-sm-12">
                <img src="assets/img/Podcast.PNG" alt="podcast">
            </div>
        </div>
    </div>
</div>
