<div class="ns-hero font-main">

    <div class="container font-main">

        <div *ngIf="!loading" class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        <div *ngIf="loading" class="row">

            <div class="col-lg-7 col-md-6 ol-sm-12">
                <p class="ns-small-text" ><span class="ns-dash">-</span>{{trending}}</p>
                <h1 class="ns-title font-main">{{title}}</h1>
                <div class="ns-small-text" [innerHTML]="content"></div>
                <p class="ns-small-text">{{listen}} <span class="ns-dash">-</span></p>
                <div class="widget">
                    <ul class="list--media list-group list-group-horizontal">
    
                        <li class="list-group-item"><a href="https://podcasts.google.com/" target="_blank"><img src="assets/img/ns-google-podcast.PNG" alt="google-podcast"></a></li>
                        <li class="list-group-item"><a href="https://www.apple.com/la/apple-podcasts/" target="_blank"><img src="assets/img/ns-apple-podcast.PNG" alt="apple-podcast"></a></li>
                        <li class="list-group-item"><a href="https://podcasters.spotify.com/" target="_blank"><img class="spotify" src="assets/img/ns-spotify.PNG" alt="spotify"></a></li>

                    </ul>
                </div>
            </div>
            <div class="hero-media col-lg-5 col-md-6 col-sm-12">
               <a href="#mypodcast" onclick='mypodcast.play()'>
                  <img #tooltip="matTooltip"
                  matTooltip="Click on me!"
                  src="{{media}}" alt="podcast">
               </a> 
                <audio id="mypodcast" src="assets/media/Swimming Lessons - Bail Bonds.mp3" autobuffer ></audio>
            </div>
        </div>
    </div>
</div>
