.ns-hero{
    background-color: lightgrey;
    padding: 100px 0;
}
.ns-small-text{
    color: gray ;
    font-weight: 400;
    padding: 10px;
}
.ns-dash{
    color: #F13C45;
    font-size: larger;
    font-weight: 000;
}
.ns-title{
    font-size: 2.5rem;
    letter-spacing: normal;
    padding: 10px;
}

.list--media{
    background-color: lightgrey;
}
.list--media li {
    position: relative;
    display: inline-block;
    background-color: lightgrey;
    border-color: lightgrey
 
}


.list--media li a img{
    max-width: 80%;
}

.hero-media img{

    object-fit: cover;
    width: 100%;
 
}


@media screen and (max-width: 780px) {

    .hero-media img{

        object-fit: cover;
        width: 100%;
        height: 200px;
    }
}

@media screen and (max-width: 600px) {

    .ns-title{
        font-size: 1.5rem;
        letter-spacing: normal;
        padding: 2px;
    }

    .hero-media img{

        object-fit: cover;
        width: 100%;
        height: 200px;
    }
}