<div class="ns-gallery font-main mb-10">

    <div class="container">

        <div class="blog-main-title text-center">
            <h1>Our Gallery</h1>
        </div>
        <div class="gallery-content mb-20">

            <div class="row">
                <div class="pict-conatiner col-lg-3 col-md-4 col-6">
                    <a href="#!" data-toggle="modal" data-target="#pictureModal">
                        <img src="assets/img/gallery/img1.jpeg" alt="gallery">
                    </a>
                </div>
                <div class="pict-conatiner col-lg-3 col-md-4 col-6">
                    <img src="assets/img/gallery/img1.jpeg" alt="gallery">
                </div>
                <div class="pict-conatiner col-lg-3 col-md-4 col-6">
                    <img src="assets/img/gallery/img1.jpeg" alt="gallery">
                </div>
                <div class="pict-conatiner col-lg-3 col-md-4 col-6">
                    <img src="assets/img/gallery/img1.jpeg" alt="gallery">
                </div>
                <div class="pict-conatiner col-lg-3 col-md-4 col-6">
                    <img src="assets/img/gallery/img1.jpeg" alt="gallery">
                </div>
                <div class="pict-conatiner col-lg-3 col-md-4 col-6">
                    <img src="assets/img/gallery/img1.jpeg" alt="gallery">
                </div>
                <div class="pict-conatiner col-lg-3 col-md-4 col-6">
                    <img src="assets/img/gallery/img1.jpeg" alt="gallery">
                </div>
                <div class="pict-conatiner col-lg-3 col-md-4 col-6">
                    <img src="assets/img/gallery/img1.jpeg" alt="gallery">
                </div>
                <div class="pict-conatiner col-lg-3 col-md-4 col-6">
                    <img src="assets/img/gallery/img1.jpeg" alt="gallery">
                </div>
                <div class="pict-conatiner col-lg-3 col-md-4 col-6">
                    <img src="assets/img/gallery/img1.jpeg" alt="gallery">
                </div>
                <div class="pict-conatiner col-lg-3 col-md-4 col-6">
                    <img src="assets/img/gallery/img1.jpeg" alt="gallery">
                </div>
                <div class="pict-conatiner col-lg-3 col-md-4 col-6">
                    <img src="assets/img/gallery/img1.jpeg" alt="gallery">
                </div>
            </div>
        </div>
    </div>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="pictureModal" tabindex="-1" aria-labelledby="pictureModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
    
        <img src="assets/img/gallery/img1.jpeg" alt="gallery">
  
      </div>
    </div>
  </div>

