<header class="header header--standard font-main"  data-sticky="true">
    <div class="header__content">

        <div class="container">
            <div class="row">

                <div class="header__content-left col-3" >
                    <a class="ns-logo" href="/">
                        <img src="{{logourl}}" alt="{{logourl}}">
                    </a>
                </div>
                 <div class="header__content-center col-5">

                    <nav class="navbar navbar-expand-lg navbar-light">
                                 
                        <div class="collapse navbar-collapse d-flex justify-content-around" id="navbarNav">
                            <ul class="navbar-nav">
                                <li *ngFor="let page of pages;"                         
                                    class="nav-item ">
                                    <a class="nav-link" href="{{page.slug}}">{{page.title.rendered}} <span class="sr-only">(current)</span></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
        
                </div>
                <div *ngIf="!loading" class="spinner-grow" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                <div *ngIf="loading" class="header__content-right col-4">
                    <div class="header__actions">
                        <button type="button"  data-toggle="modal" data-target="#subscriptionModal"  class="btn btn-outline-danger mr-5">{{btnsubscribe}}</button>
                        <button type="button"  data-toggle="modal" data-target="#signinModal"   class="btn btn-outline-danger">{{btnlogin}}</button>
                    </div>
                    
                </div>
            </div>

            
        </div>


    </div>
    
</header>

  <!-- Modal -->
  <div class="modal fade" id="subscriptionModal" tabindex="-1" aria-labelledby="subscriptionModal" aria-hidden="true">
    <div class="modal-dialog">

      <div class="modal-content">

        <div class="modal-header">
            <h3 class="modal-title">Write your email to subscribe</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    
          <div class="modal-body">

            <div class="subscribe-form">

            <aside class="widget widget_newletters widget_footer">

                <form 
                class="ps-form--newletter needs-validation" 
                             
                 (ngSubmit)="Submit()"
                 >
                    <div class="form-group form-group--nest">
                        <input 
                        class="form-control" 
                        type="email" 
                        placeholder="Tyep your email"
                        formControlName="email"
                        [ngClass]="{'is-invalid': invalidField('email')}"
                        required>
                        <button class="btn-subscribe btn btn-danger mr-5">Subscribe <i class="fa fa-arrow-right"></i></button>
                       
                    </div>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">This field is required.</div>
                        

                </form>
            </aside>
        </div>
          </div>
        
  
      </div>
    </div>
  </div>

<div class="modal fade" id="signinModal" tabindex="-1" aria-labelledby="signinModal" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title">Sign in</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="subscribe-form">

                    <aside class="widget widget_newletters widget_footer">

                        <form class="ps-form--newletter needs-validation" 
                         autocomplete="off">
                            <div class="form-group">
                                <select class="form-control form-login-ybe" formControlName="theCountry"
                                    [ngClass]="{'is-invalid': invalidField('thecounty')}">
                                    <option value="">Selecct a country</option>
                                    <option value="NI">Nicaragua</option>
                                    <option value="US">United States</option>


                                </select>
                                <span class="invalid-feedback">Selecct a country</span>
                            </div>
                            <div class="input-group mb-3">
                                <input type="email" class="form-control form-login-ybe" placeholder="email"
                                    formControlName="email" [ngClass]="{'is-invalid': invalidField('email')}" required>

                                <!-- Mensaje de Validación -->
                                <div class="invalid-feedback">This field is required</div>

                            </div>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control form-login-ybe" placeholder="password"
                                    formControlName="password" [ngClass]="{'is-invalid': invalidField('password')}"
                                    requierd>

                                <!-- Mensaje de Validación -->
                                <div class="invalid-feedback">This field is required</div>

                            </div>
                            <div class="row">

                                <!-- /.col -->
                                <div class="col-12">
                                    <button type="submit" class="btn btn-danger btn-block">Sign-in</button>
                                </div>
                                <!-- /.col -->
                            </div>
                        </form>
                    </aside>
                </div>
            </div>


        </div>
    </div>
</div>